![programmers](https://theme.zdassets.com/theme_assets/9483888/f7b9b68643e5a9a3bda6dc5a238152b1d467c9f0.png)
# x만큼 간격이 있는 n개의 숫자
by [sheon-j](https://github.com/sheon-j)
### 문제 설명

함수 solution은 정수 x와 자연수 n을 입력 받아, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 리턴해야 합니다. 다음 제한 조건을 보고, 조건을 만족하는 함수, solution을 완성해주세요.

### 제한 조건

- x는 -10000000 이상, 10000000 이하인 정수입니다.
- n은 1000 이하인 자연수입니다.

### 입출력 예

| x    | n    | answer       |
| ---- | ---- | ------------ |
| 2    | 5    | [2,4,6,8,10] |
| 4    | 3    | [4,8,12]     |
| -4   | 2    | [-4, -8]     |

In [3]:
def solution(x, n):
    # 1. 1부터 n+1까지 범위의 정수를 x에 곱
    answer = [x * i for i in range(1, n+1)]
    return answer

**실행 결과**

```
테스트 1
입력값 〉	2, 5
기댓값 〉	[2, 4, 6, 8, 10]

테스트 2
입력값 〉	4, 3
기댓값 〉	[4, 8, 12]

테스트 3
입력값 〉	-4, 2
기댓값 〉	[-4, -8]

```

In [4]:
print(solution(2, 5))
print(solution(4, 3))
print(solution(-4, 2))

[2, 4, 6, 8, 10]
[4, 8, 12]
[-4, -8]