<a href="https://colab.research.google.com/github/sheon-j/playdata-bigdatabootcamp/blob/main/algorithm/03_bfs_and_dfs/03_target_number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![programmers](https://theme.zdassets.com/theme_assets/9483888/f7b9b68643e5a9a3bda6dc5a238152b1d467c9f0.png)
# 타겟 넘버

by [sheon-j](https://github.com/sheon-j)

### 문제 설명

n개의 음이 아닌 정수들이 있습니다. 이 정수들을 순서를 바꾸지 않고 적절히 더하거나 빼서 타겟 넘버를 만들려고 합니다. 예를 들어 [1, 1, 1, 1, 1]로 숫자 3을 만들려면 다음 다섯 방법을 쓸 수 있습니다.

```
-1+1+1+1+1 = 3
+1-1+1+1+1 = 3
+1+1-1+1+1 = 3
+1+1+1-1+1 = 3
+1+1+1+1-1 = 3
```

사용할 수 있는 숫자가 담긴 배열 numbers, 타겟 넘버 target이 매개변수로 주어질 때 숫자를 적절히 더하고 빼서 타겟 넘버를 만드는 방법의 수를 return 하도록 solution 함수를 작성해주세요.

### 제한사항

- 주어지는 숫자의 개수는 2개 이상 20개 이하입니다.
- 각 숫자는 1 이상 50 이하인 자연수입니다.
- 타겟 넘버는 1 이상 1000 이하인 자연수입니다.

### 입출력 예

| numbers         | target | return |
| --------------- | ------ | ------ |
| [1, 1, 1, 1, 1] | 3      | 5      |
| [4, 1, 2, 1]    | 4      | 2      |

### 입출력 예 설명

**입출력 예 #1**

문제 예시와 같습니다.

**입출력 예 #2**

```
+4+1-2+1 = 4
+4-1+2-1 = 4
```

- 총 2가지 방법이 있으므로, 2를 return 합니다.

In [56]:
from itertools import product

def solution(numbers, target):
    numbers_list = [[-i, i] for i in numbers]
    sum_list = [sum(i) for i in product(*numbers_list)]
    answer = sum_list.count(target)
    return answer


테스트 1
```
입력값 〉	[1, 1, 1, 1, 1], 3
기댓값 〉	5
```
테스트 2
```
입력값 〉	[4, 1, 2, 1], 4
기댓값 〉	2
```

In [58]:
print(
    solution([1, 1, 1, 1, 1], 3),
    solution([4, 1, 2, 1], 4),
    sep='\n'
)

5
2